.login h1{
    background-color: transparent;
    padding: 10px 0 15px;
    height: 55px;
}

.login h1 a{
    background-image: url(../images/logo.png);
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    width: 200px;
    height: 48px;
}

body{
    background: #ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#login {
    width: 320px;
    padding: 50px 0;
    margin: auto;

}

.login form .input,
.login form input[type="checkbox"],
.login input[type="text"] {
    border: 1px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
    color: #ffffff;
}

.wp-core-ui .button-primary{
    background: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    transition: all .2s ease;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover{
    background: #9d0909;
    border: 1px solid #9d0909;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover{
    color: #004998;
}


.login #login_error, .login .message, .login .success {
    border-left: 4px solid #9b0606;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#loginform{
    background: #004998;
    color: #ffffff;
    margin-top: 0;
    border: none
}

.login .button.wp-hide-pw .dashicons{
    visibility: hidden;
}
